@keyframes alternateFade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#tetris-area {
    position: relative;
    max-width: 100%;
    height: 80%;
    margin: 0px auto;
    line-height: 5%;

    border: 1px solid whitesmoke;
    border-bottom-color: transparent;
    border-radius: 2px;

    .empty-cell {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid whitesmoke;
        opacity: 0.5;
    }

    .tetris-piece {
        position: absolute;
        width: calc(10% - 4px);
        height: calc(5% - 4px);
        top: 0;
        left: 0;
    }

    .tetris-piece.alternate-fade {
        animation-name: alternateFade;
        animation-duration: .3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .orange-piece {
        background: orange;
    }

    .violet-piece {
        background: #9645ff;
    }

    .pink-piece {
        background: #ff578c;
    }

    .bright-blue-piece {
        background: #45d1ff;
    }

    .red-piece {
        background: #ff4545;
    }

    .dark-blue-piece {
        background: #5845ff;
    }

    .dark-green-piece {
        background: #24a33d;
    }
}

@media (min-width: 600px) { 
    #tetris-area {
        max-width: 75%;
    }
}

@media (min-width: 900px) { 
    #tetris-area {
        max-width: 50%;
    }
}

@media (min-width: 1200px) { 
    #tetris-area {
        max-width: 40%;
    }
}

@media (min-width: 1600px) { 
    #tetris-area {
        max-width: 30%;
    }
}